<div class="container">

	<div class="row lineBottom name">
		<div class="twelvecol">
			<h2>About FreshQuest</h2>
		</div>
	</div>
		
	<div class="container">
		<div class="row line">
			<div class="eightcol">
				<h3>Why FreshQuest is needed</h3>

				<h3>Why we're building FreshQuest</h3>

				<h3>Is there any cost to list my farm or business?</h3>
				<h3>Is there any cost to use?</h3>
				<h3>Do you have a mobile app?</h3>
				<h3>Why FreshQuest is needed</h3>
			</div>
		</div>		
	</div>

	<div class="row lineBottom">
		<h2>Team FreshQuest</h2>
	</div>

	<div class="container">
		<div class="row line">
			<div class="eightcol">
				<dl>
					<dt>Paul Melnikow</dt>
					<dt>Daniel Sieradski</dt>
					<dt>Jacob Beard</dt>
					<dt>Rui Da Costa</dt>
					<dt>Jeff Mahon</dt>
					<dt>Pierre Wellner</dt>
					<dt>Melissa Montgomery</dt>
					<dt>Kiva van der Geest</dt>
					<dt>Eric Downie</dt>
				</dl>
			</div>
		</div>
	</div>

</div>