<div id="farms" class="container">

	<fqtitle>Farms</fqtitle>

	<div ng-repeat="farm in farmList">
		<li class="row product_farm">
			<a href="#/farm/{{farm.slug}}" class="block">
				<div class="twocol center">
					<img ng-src="{{farm.iconImage}}"/>
				</div>
				<div class="tencol last">
					<h3>{{farm.name}}</h3>
					<div class="row">
						<div class="fourcol">
							{{farm.location}}
						</div>
						<div class="twocol">
							{{farm.distance}} miles
						</div>
						<div class="threecol">
							{{farm.marketDayBooth | shedAndStall }}
						</div>
						<div class="threecol last">
							<span class="rank" ng-bind-html-unsafe='farm.aggregateRating | stars'></span>
						</div>
					</div>
				</div>
			</a>
		</li>
	</div>

</div>