<div class="container">
	
	<div class="row title">
		<div class="ninecol">
			<h1>{{farm.name}}</h1>
			<span class="actions">
				<a href="#" class="favorite">&hearts;</a>
				<span class="rank" ng-bind-html-unsafe='farm.aggregateRating | stars'></span>
			</span>
		</div>
		<div class="threecol last shed_location">
			<h3 class="normal">{{farm.marketDayBooth | shedAndStall }}</h3>
		</div>
	</div>
	<div class="row header">
		<div class="twelvecol">
			<img ng-src="{{farm.headerImage}}"/>
		</div>
	</div>
	<div class="row">
		<div class="sixcol">
			<h2>Location</h2>
			<div class="map google-map" center="mapCenter" draggable="true" zoom="mapZoom" markers="mapMarkers" mark-click="false" fit="true">
			</div>
		</div>
		<div class="sixcol last">
			<h2>About</h2>
			<p>{{farm.about}}</p>
		</div>
	</div>
	<div class="row nopad">
		<div class="twelvecol">
			<h2>Photos</h2>
		</div>
	</div>
	<div class="row">
		<div ng-repeat="url in farm.photoImages" class="threecol">
			<img ng-src="{{url}}"/>
		</div>
	</div>
	<div class="row nopad">
		<div class="twelvecol">
			<h2>Available Products</h2>
		</div>
	</div>
	<div ng-repeat="product in farm.marketDayBooth.sellSheet">
		<div class="row product">
			<div class="onecol center">
				<img ng-src="{{product.item | productImage}}"/>
			</div>
			<div class="eightcol name">
				<a href="/product_detail.html">{{product.item}}</a>
			</div>
			<div class="twocol">
				${{product.price}}/{{product.units}}
			</div>
			<div class="onecol center last">
				<span class="addtolist" addtolist boothid="{{farm.marketDayBooth._id}}" item="{{product.item}}">
					&#57347;
				</span>
			</div>
		</div>
	</div>
</div>