<div class="container home">
	<div class="row">
		<div class="oneecol">
			&nbsp;
		</div>
		<div class="eightcol">
			<div id="home_tag"><h1>Fresh local food is only a click away</h1></div>
		</div>
	</div>
</div>
<div class="container get_started">
	<div class="row">
		<div class="eightcol">
			Don't waste time hunting for the best priced, local produce at your nearest farmer's market.
		</div>
		<div class="fourcol last">
			<a href="#/farms" class="button">Get Started</a>
		</div>
	</div>
</div>
<div class="container actions">
	<div class="row">
		<div class="fourcol">
			<div class="action">
				<img src="./img/icon_find.png"/><br/>
				<h2>Search for Local Produce</h2>
			</div>
		</div>
		<div class="fourcol">
			<div class="action">
				<img src="./img/icon_farm.png"/><br/>
				<h2>Find out where your food is from</h2>
			</div>
		</div>
		<div class="fourcol last">
			<div class="action">
				<img src="./img/icon_list.png"/><br/>
				<h2>Create a Shopping List</h2>
			</div>
		</div>
	</div>
</div>